
<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


</head>

<!--Title of Webpage, Avg GPA, GPA Gauge -->
<body ng-app="ngAnimate" ng-controller="courseSearchController">
<div class = "title"> 
  <h1> Course Buddy </h1> 
  <div class = "gauge">
    <div class = "gpa-for-gauge">
      Average GPA for Selected Course Load: <br>
      <span class = "gpa"> {{averageGPA}} </span>
    </div>
    <div id = "gauge-fill" style="width: {{gaugeWidth}}px; background-color: {{gaugeColor}}"></div>

    <div class = "gauge-text-hard">Hard</div>
    <div class = "gauge-text-easy">Easy</div>
  </div>

</div>

<div class="container-fluid">
<div class = "inside">
    <div class="row left-row">
      <!-- Main visualization on the left, displaying graph for selected courses-->
      <div class="col-md-12">
        <svg id='gpa'></svg>   
      </div>
      <!-- Selected Courses controls under main visualization -->
      <div class="col-md-12 selected-courses"> 
            <div class = "col-md-12">
              <span class = "col-md-6 search-bar-text"><h4>Selected Courses</h4></span>
              <div class = "col-md-6 search-bar">
                <div class = "search-bar-2">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" id="searchBox" name="CourseName" ng-init="show=false" placeholder="Search for course..."  ng-keypress="search()" ng-blur="addCourse()" ng-model="query" ng-focus="checked=true">
                <div class="list-group" ng-show="checked" style="position:absolute;width:61%;height:100px;z-index:100; margin-left:15px">
                  <a class="list-group-item " ng-repeat="course in courses | filter:query"  ng-mousedown="addCourse(course);event.stopPropagation()" >
                     {{course}}
                  </a>
                </div>
              </div>
              </div>
            </div>
            <div class = "col-md-3 added-course" ng-repeat="course in selectedCourses" class="input-group input-group-sm" 
              style="padding-top:3px" ng-mouseenter="highlight(course)" ng-mouseleave="dehighlight()">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="deleteCourse(course)">X</button>
              </span>
               <span class="input-group-addon add-a-course" style="color:black; width: auto" ng-style="myColor(course)">{{course}}    </span>
            </div>
      </div>
      </div>
      <div class = "row right-row">
         <!-- Top visualization on the right, displaying breakdown of grades for selected course-->
        <div class="col-md-12 chart2">
          <svg id='bySemester' "width"=570 "height"=380 > </svg>
        </div>
        <!-- Bottom visualization on the right, displaying semester breakdown for selected course -->
        <div class="col-md-12 chart1">
          <svg id='byGrade'> </svg>
        </div>
      </div>
  </div>
  <div class = "sga-credit"><i>Data provided by SGA Course Critique Committee.</i></div>

  </div>
</div>

<script type="text/javascript">
/////////////////////////////////////////////////////////
"Global variables for color & tracking added classes"
var deleteCount = 0, addCount = 5;
var colorsUsed = [0,1,2,3,4];
var colorsNotUsed = [5,6,7];
var courseColor = "CS 1301";
var cachedCallbacks;
var courseinfoEachSemester;
var selectedCourses = ["CS 1301", "CS 1331", "CS 2340","CS 1332", "CS 2110"];
var courseGPAArrays;
var courseData;
var courseSet;
var currentCourse = {
    'course': 'CS 1301',
  'semester': 'Spring',
    'year': '2009' };


var parseDate = d3.time.format("%Y%m%d").parse;

//colors used for lines/ bars
var color = ["#99CCCC","#EB6F7A","#A184A2","#F6906A","#63AB62","#FEE080","#4876ff","#78502D"];//""#D0CE81"];//"#00688B"

/////////////////////////////////////////////////////////
"Chart for Course GPAs over the years"
//Setting margin and coordinates of the line graph
var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 620 - margin.left - margin.right,
    height = 380 - margin.top - margin.bottom;

//x axis's scale
var xx = d3.scale.linear()
    .range([0, width]);

//y axis's scale
var yy = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(xx).ticks(5).tickFormat(d3.format("d"))
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(yy)
    .orient("left");

var lines = d3.svg.line()
    .interpolate("linear")
    .x(function(d) { return xx(d.Year); })
    .y(function(d) { return yy(d.GPA); });

/////////////////////////////////////////////////////////
"Chart for Course GPA breakdown by Semester"
var margin2 = {top: 0, right: 0, bottom: 0, left: 0},
    width2 = 400 - margin2.left - margin2.right,
    height2 = 200 - margin2.top - margin2.bottom;

var formatPercent = d3.format(".0%");

var x2 = d3.scale.ordinal()
    .rangeRoundBands([0, width2], .1);

var y2 = d3.scale.linear()
    .range([height2, 0]);

var xAxis2 = d3.svg.axis()
    .scale(x2)
    .orient("bottom");

var yAxis2 = d3.svg.axis()
    .scale(y2)
    .orient("left")
  .tickFormat(formatPercent)
    .ticks(5);

//tooltip for bar graph
var tip2 = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>Percentage:</strong> <span style='color:#FAEBD7'>" + (d.Y*100).toFixed(1) + "%" + "</span>" + "</br>" +
           "<strong>GPA:</strong> <span style='color:#FAEBD7'>" + d.Z.toFixed(2) + "</span>"; })

//domain & range of bar graph
x2.domain(["A", "B", "C", "D", "F", "W"]);
y2.domain([0 , 1]);

/////////////////////////////////////////////////////////
"Chart for Course GPA breakdown by Grade"

var margin3 = {top: 40, right: 0, bottom: 30, left: 0},
    width3 = 400 - margin3.left - margin3.right,
    height3 = 250 - margin3.top - margin3.bottom

var x3 = d3.scale.ordinal()
    .rangeRoundBands([0, width3], .1);

var y3 = d3.scale.linear()
    .range([height3, 0]);

var xAxis3 = d3.svg.axis()
    .scale(x3)
    .orient("bottom");

var yAxis3 = d3.svg.axis()
    .scale(y3)
    .orient("left")
    .tickValues([0.0, 1.0, 2.0, 3.0, 4.0])
    
//bar graph tooltip
var tip3 = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>GPA:</strong> <span style='color:#FAEBD7'>" + +d.GPA + "</span>"; })

//bar graph domain & range
x3.domain(["Spring", "Summer", "Fall"]); 
y3.domain([0,4]);
/////////////////////////////////////////////////////////

//Select a tag named gpa and use the svg handler to put data in it
var svg = d3.select('#gpa')
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var svg2 = d3.select("#byGrade")
     .attr("width", width + margin.left + margin.right)
     .attr("height", height + margin.top + margin.bottom)
   .append("g")
     .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//append axis of bar graph
svg2.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + (height2+1) + ")")
    .call(xAxis2);

svg2.append("g")
    .attr("class", "y axis")
    .call(yAxis2)
    .attr("transform", "translate(0,1)")
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", -60)
    .attr("x", -110)
    .attr("dy", ".71em")
    .text("Percent");
    
//title of bar graph
svg2.append("g")
    .append("text")
    .attr("x", 25)
  .attr("class", "h4")
  .attr("text-align", "center")
    .text(currentCourse.course + " Letter Grade Breakdown for " + currentCourse.semester + " " + currentCourse.year);

svg2.call(tip2);


var svg3 = d3.select("#bySemester")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg3.call(tip3); 


svg3.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + (height3+1) + ")")
    .call(xAxis3);

svg3.append("g")
    .attr("class", "y axis")
    .call(yAxis3)
    .attr("transform", "translate(0,1)")
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", -50)
    .attr("x", -90)
    .attr("dy", ".71em")
    .text("GPA");
  
//append title      
svg3.append("g")
    .append("text")
    .attr("x", 60)
  .attr("class", "h4")
  .attr("text-align", "center")
    .text(currentCourse.course + " Semester Breakdown for " + currentCourse.year);

function registerCallback(callback){
    cachedCallbacks = callback;
};
function updateModel(newFilter){
    cachedCallbacks(newFilter);
};

//draws Letter Breakdown bar graph
function drawByGrade() {
  
  gradeData = courseinfoEachSemester.filter(function(row) {
          return ['course','semester','year','A','B','C','D','F','W','GPA'].reduce(function(pass, column) {
              return pass && (!currentCourse[column] || row[column] === currentCourse[column] || currentCourse[column].indexOf(row[column]) >= 0 );
          }, true);
      })

  var yaxis2 = gradeData.map(function(d) {
    return  [{ X:"A", Y:+d['A']/100, Z:+d['GPA']}, 
           { X:"B", Y:+d['B']/100, Z:+d['GPA']}, 
           { X:"C", Y:+d['C']/100, Z:+d['GPA']},
             { X:"D", Y:+d['D']/100, Z:+d['GPA']},
             { X:"F", Y:+d['F']/100, Z:+d['GPA']},
           { X:"W", Y:+d['W']/100, Z:+d['GPA']}];
  })
  yaxis2 = yaxis2[0]; 

  var grades = svg2.selectAll(".bar")
      .data(yaxis2);

  grades.enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x2(d.X); })
      .attr("width", x2.rangeBand())
      .attr("y", function(d) { return y2(d.Y); })
      .attr("height", function(d) { return height2 - y2(d.Y); })
      .attr("fill", function(d){ 
          return color[colorsUsed[selectedCourses.indexOf(courseColor)]]; })
      .on('mouseover', tip2.show)
      .on('mouseout', tip2.hide)


  grades.transition().duration(250)
  .attr("x", function(d) { return x2(d.X); })
  .attr("width", x2.rangeBand())
  .attr("height", function(d) { return height2 - y2(d.Y); })
  .attr("y", function(d) { return y2(d.Y); })

  grades.exit().remove();
};


//draws semester breakdown bar graph
function  drawBySemester(){
   semesterData = courseinfoEachSemester.filter(function(row) {
          return ['course','year'].reduce(function(pass, column) {
              return pass && (!currentCourse[column] || row[column] === currentCourse[column] || currentCourse[column].indexOf(row[column]) >= 0 );
          }, true);
      })
   var missingSemester = ["Spring", "Summer","Fall"];
   semesterData.forEach(function(d){
      var index = missingSemester.indexOf(d.semester)
      if (index > -1) {
        missingSemester.splice(index, 1);
      }
   })

   missingSemester.forEach(function(d){
      semesterData.push({"course":currentCourse.course,"GPA":"0",semester:d})
   })
  //append bars to graph
  var semesters = svg3.selectAll(".bar")
      .data(semesterData,function(d){return d.semester});

  semesters.enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x3(d.semester); })
      .attr("width", x3.rangeBand())
      .attr("y", function(d) { return y3(+d.GPA); })
      .attr("height", function(d) { return height3 - y3(+d.GPA); })
      .attr("fill", function(d){ 
          return color[colorsUsed[selectedCourses.indexOf(courseColor)]]; })
      .attr("fill-opacity", function(d) {
          if (d.semester == currentCourse.semester) {
              return 1;
          } else {
              return .4;
          }
      })
      .on("click",function(d){ 
          tip3.hide();
          return refreshDetail(d.semester); })
      .on('mouseout', tip3.hide)
      .on('mouseover', tip3.show);

  semesters.transition().duration(250)
      .attr("x", function(d) { return x3(d.semester); })
      .attr("width", x3.rangeBand())
      .attr("y", function(d) { return y3(+d.GPA); })
      .attr("height", function(d) { return height3 - y3(+d.GPA); })
      .attr("fill", function(d){ 
          return color[colorsUsed[selectedCourses.indexOf(courseColor)]]; })
      .attr("fill-opacity", function(d) {
          if (d.semester == currentCourse.semester) {
              return 1;
          } else {
              return .4;
          }
      })

  semesters.exit().remove();

};

//refreshes both bar graphs when semester bars are clicked
function refreshDetail(semester){
  currentCourse.semester = semester;
  svg2.select(".h4").text(currentCourse.course + " Letter Grade Breakdown for " + currentCourse.semester + " " + currentCourse.year);
  drawByGrade();
  svg3.select(".h4").text(currentCourse.course + " Semester Breakdown for " + currentCourse.year);
  svg3.selectAll(".bar").attr("fill-opacity", function(d) {
    if (d.semester == currentCourse.semester) {
        return 1;
    } else {
        return .4;
    }
  });
};


//updates bar graphs when bubbles are clicked on line graph
function showDetails(course,year){
      courseColor = course;
      var t =courseinfoEachSemester.filter(function(d){
        return d.course == course;
      });
      if (t.length>0){
        currentCourse.course = course;
        currentCourse.year = year;
        var sm = d3.set();
        t.forEach(function(d){
          sm.add(d.semester)});
          if ((sm.values().indexOf("Spring") == -1) && (sm.values().indexOf("Summer") == -1)) {
            currentCourse.semester = "Fall";
          } else if ((sm.values().indexOf("Fall") == -1) && (sm.values().indexOf("Summer") == -1)) {
            currentCourse.semester = "Spring";
          } else if ((sm.values().indexOf("Fall") == -1) && (sm.values().indexOf("Spring") == -1)){
            currentCourse.semester = "Summer";
          } else if (sm.values().indexOf("Spring") != -1) {
            currentCourse.semester = "Spring";
          } else {
            currentCourse.semester = "Fall";
          } 

        // svg2.remove('g');
        // svg2 = d3.select("#byGrade").append("g")
        // .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        drawByGrade();
        // svg3.remove('g');
        // svg3 = d3.select("#bySemester").append("g")
        // .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        drawBySemester();
        updateModel(currentCourse);

      }
}

// Angular
angular.module('ngAnimate', [])
    .controller('courseSearchController', ['$scope', function($scope) {
      
        $scope.averageGPA = 3.1
        $scope.gaugeWidth = $scope.averageGPA * 100;

        //calculates average gpa of classes selected for GPA gauge
        //changes color of temp gauge based on gpa difficulty
        $scope.calculateAverageGPAForAllCourse = function(){
          var tempSum=0;
          courseGPAArrays.forEach(function(d){
            tempSum += +d.values[d.values.length-1].GPA
          })
          $scope.averageGPA = (tempSum/courseGPAArrays.length).toFixed(2);
          //console.log($scope.averageGPA)
          $scope.gaugeWidth = $scope.averageGPA * 100;
          if ($scope.gaugeWidth <= 250) {
            $scope.gaugeColor = "#F7977A";
          }
          if ($scope.gaugeWidth <= 300 && $scope.gaugeWidth > 250) {
            $scope.gaugeColor = "#FFF79A";
          }
          if ($scope.gaugeWidth <= 400 && $scope.gaugeWidth > 300) {
            $scope.gaugeColor = "#82CA9D";
          }
        }
        $scope.calculateAverageGPAForAllCourse();

        $scope.checked=false;
        $scope.selectedCourses = selectedCourses;

        registerCallback(function(newFilter1){
          $scope.chart1Data = newFilter1;
          $scope.$apply() 
        })

        $scope.search = function(){
            $scope.checked=true
        };
        
        $scope.courses = courseSet;
        
        //updates background color of class name button
        $scope.myColor = function(course){
          return {'background-color':color[colorsUsed[selectedCourses.indexOf(course)]]};
        }
        
        //highlight current mouseon course
        $scope.highlight = function(course){
          courseGPAArrays.forEach(function(d){
              if (d.name == course){
                d.highlight = true;
              } else{
                d.highlight = false;
              }
          })
          $scope.updateView(courseGPAArrays,$scope.selectedCourses)
        }

        $scope.dehighlight = function(){
          courseGPAArrays.forEach(function(d){
            d.highlight = true;
          })
          $scope.updateView(courseGPAArrays,$scope.selectedCourses)
        }
        $scope.chart1Data = currentCourse;

        //adjust bar graphs when semesters are selected
        $scope.selectSemester = function(semester){
          currentCourse.semester = semester;
          $scope.chart1Data = currentCourse;
          svg2.remove('g');
          svg2 = d3.select("#byGrade").append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
          drawByGrade();
        }

        
        //update grapgh for class add/delete
        $scope.updateView = function(courseGPAArrays,selectedCourses){
          var allCourses = svg.selectAll(".course")
            .data(courseGPAArrays,function(d){return d.name})

          //This is update section to change the style of all course paths
          allCourses.style("opacity",function(d) {
              if (!d.highlight) {
               return 0.3
              } else {
                return 1
              }
            })
          allCourses.selectAll("path").style("stroke-width",function(d){
              if (!d.highlight) {
               return 1
              } else {
                return 2
              }
          })
          
           


        }

        //Add a course to selectedCourses and display them
        $scope.addCourse = function(course){
          if(course==undefined){
            $scope.checked=false;
            return
          }
          if (selectedCourses.indexOf(course)>-1){
            $("#searchBox").val("");
            return;
          }
          
              if ((addCount - deleteCount) > 7) {
                window.alert("The maximum number of classes is 8");
                return;
              }
              addCount += 1;
              $("#searchBox").val("");
              selectedCourses.push(course);
              $scope.selectedCourses = selectedCourses;
              courseGPAArrays = selectedCourses.map(function(course) {
              return {
                name: course,
                values: courseData.filter(function(d) { return d.Course == course ; }).map(function(d) {
                      return {GPA: d.GPA, Year: +d.Year, };
                  }),
                highlight:true
                  };
              });
              
            var allCourses = svg.selectAll(".course")
            .data(courseGPAArrays,function(d){return d.name})

            //This is appending new paths and stlying them for new coursing
            var newCourse = allCourses.enter().append("g");

            newCourse.attr("class", "course").append("path")
              .attr("class", "line")
              .attr("d", function(d) { return lines(d.values); })
              .style("stroke", function(d) { 
              colorsUsed[colorsUsed.length] = colorsNotUsed[0]
                colorsNotUsed.splice(0,1);
                d.Color = color[colorsUsed[colorsUsed.length-1]];
                  return color[colorsUsed[colorsUsed.length-1]];
               })
              .style("stroke-width",function(d){
                return 2
              })

            newCourse.append("text")
                .attr("transform", function(d) { 
                  return "translate(" + width + "," + yy(d.values[d.values.length - 1].GPA) + ")"; })
                .attr("x", 3)
                .attr("dy", ".35em")
                .text(function(d) { return d.name; });;
            
            //line graph tooltip on added classes
            var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function(d) {
              return "<div class='tip'><strong>Course:</strong> <span style='color:#FAEBD7'>" + d.Course + "</span></div>"+
              "<div class='tip'><strong>GPA:</strong> <span style='color:#FAEBD7'>" + +d.GPA + "</span></div>"+
              "<div class='tip'> <strong>Year:</strong> <span style='color:#FAEBD7'>" + +d.Year + "</span></div>"
              "";})

              //bubbles around data points on line graph
              var circlesElement = newCourse.selectAll(".circles")
              .data(function(d, i) { 
              var vs =  d.values.map(function(dd){
                return {
                  "Year": dd.Year,
                  "GPA": dd.GPA,
                  "Course": d.name,
                  "Color": d.Color
                }
              })
              return vs;
              })
              .enter()
              .append("circle")
              .attr("cx",function(d){ return xx(d.Year)})
              .attr("cy", function(d){ return yy(d.GPA)})
              .attr("r",10)
              .attr("class","circles")
              .on("click",function(d){ showDetails(d.Course,d.Year.toString()) })
              .on('mouseout', tip.hide)
              .on('mouseover', tip.show)
              .style("fill",function(d){return d.Color})
              .call(tip)
              $scope.calculateAverageGPAForAllCourse();
          }
       
       //deletes course from line graph
       $scope.deleteCourse = function(course){
           if ((addCount-deleteCount) > 1) {
              colorsNotUsed[colorsNotUsed.length] = colorsUsed[selectedCourses.indexOf(course)]
              colorsUsed.splice(selectedCourses.indexOf(course),1);
                selectedCourses.splice(selectedCourses.indexOf(course), 1);
                $scope.selectedCourses = selectedCourses;
                $scope.dehighlight();
                courseGPAArrays = courseGPAArrays.filter(function(d){
                  return d.name != course
                })
                var allCourses = svg.selectAll(".course")
                  .data(courseGPAArrays,function(d){return d.name});
                //This is exit section to remove deleted courses.
                var deletedCourse = allCourses.exit();

                deletedCourse.transition()
                          .duration(500)
                          .style("opacity","0")
                          .remove();  
              deleteCount += 1;
              } else {
                 window.alert("At least 1 class must be added");
              }
          $scope.calculateAverageGPAForAllCourse();
        };

    }]);



//Read and draw data
d3.csv("output7.csv", function(error,data){
    courseData = data;
    var couserSet =d3.set();
    data.forEach(function(d) {
        d.Year = parseInt(d.Year);
        d.GPA = +d.GPA;
        couserSet.add(d.Course)
    });
    courseSet = couserSet.values();

    var N = 20; 
    var indexRange = Array.apply(null, {length: N}).map(Number.call, Number)
    
    // color.domain(indexRange);

    courseGPAArrays = selectedCourses.map(function(course) {
    return { 
      name: course,
      values: data.filter(function(d) { return d.Course == course ; }).map(function(d) {
            return {GPA: d.GPA, Year: +d.Year};
        }),
      highlight:true
        };
    });

    //domain & range for line graph
    xx.domain(d3.extent(data, function(d) { return d.Year; }));
    yy.domain([2.0,4.0]);

    //append x axis to graph
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    //append y axis to graph
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", -40)
      .attr("x", -110)
      .style("text-anchor", "end")
      .text("Average GPA");

    //title of line graph
    svg.append("g")
      .append("text")
      .attr("x", 60)
      .attr("class", "h4")
      .attr("text-align", "center")
      .text("Average GPA Over Time For Selected Courses");



    var courseElement = svg.selectAll(".course")
      .data(courseGPAArrays, function(d){return d.name});

    courseElement.enter().append("g")
      .attr("class", "course");
    
    //append lines to graph
    courseElement.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return lines(d.values); })
      .style("stroke", function(d) { 
        d.Color = color[selectedCourses.indexOf(d.name)%20]
            return color[selectedCourses.indexOf(d.name)%20]; })
      .style("stroke-width",2);

    //tooltip for line graph
    var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<div class='tip'><strong>Course:</strong> <span style='color:#FAEBD7'>" + d.Course + "</span></div>"+
      "<div class='tip'><strong>GPA:</strong> <span style='color:#FAEBD7'>" + +d.GPA + "</span></div>"+
      "<div class='tip'> <strong>Year:</strong> <span style='color:#FAEBD7'>" + +d.Year + "</span></div>"
      ""; })

    //bubbles around data points on line graph
    var circlesElement = courseElement.selectAll(".circles")
        .data(function(d, i) { 
          var vs =  d.values.map(function(dd){
            return {
              "Year": dd.Year,
              "GPA": dd.GPA,
              "Course": d.name,
              "Color": d.Color
            }
          })
          return vs;
          })
        .enter()
        .append("circle")
        .attr("cx",function(d){ return xx(d.Year)})
        .attr("cy", function(d){ return yy(d.GPA)})
        .attr("r",10)
        .attr("class","circles")
        .style("fill",function(d){return d.Color})
        .on("click",function(d){ showDetails(d.Course,d.Year.toString()) })
        .on('mouseout', tip.hide)
        .on('mouseover', tip.show)
        .call(tip)
    

    courseElement.append("text")
          .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
          .attr("transform", function(d) { return "translate(" + xx(d.value.Year) + "," + yy(d.value.GPA) + ")"; })
          .attr("x", 3)
          .attr("dy", ".35em")
          .text(function(d) { return d.name; });
    
    //horizontal grid lines
    svg.selectAll("line.horizontalGrid").data(yy.ticks(8)).enter()
    .append("line")
        .attr(
        {
            "class":"horizontalGrid",
            "x1" : 0,
            "x2" : width,
            "y1" : function(d){ return yy(d);},
            "y2" : function(d){ return yy(d);},

        });

    //vertical grid lines
    svg.selectAll("line.VerticalGrid").data(xx.ticks(5)).enter()
    .append("line")
        .attr(
        {
            "class":"horizontalGrid",
            "y1" : 0,
            "y2" : height,
            "x1" : function(d){return xx(d);},
            "x2" : function(d){ return xx(d);},

        });

});

//filters for selecting individual classes from csv
//currentCourse is grade breakdown
//filters2 is semester breakdown
  

d3.csv("output6.csv", function(error, csv) {
  courseinfoEachSemester = csv;
  drawByGrade();
  drawBySemester();
});

</script>



</body>
