<!DOCTYPE html>
<meta charset="utf-8">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<style>

body {
  font: 10px sans-serif;
}
.list-group-item {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}
.list-group {
max-width: 400px;
height: auto;
max-height: 258px;
overflow-x: hidden;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.horizontalGrid  {
    stroke: lightgrey;
    opacity: 0.3;
}
.VerticalGrid  {
    stroke: lightgrey;
    opacity: 0.3;
}

.animate-if {
background:white;
border:1px solid black;
padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
opacity:1;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>
<body ng-app="ngAnimate">
    <!-- <svg id='test'></svg> -->
    <svg id='gpa'></svg>
	

<!--     <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="dropdown-menu-btn" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>

  </ul>

</div> -->
<div style="position:absolute;top:100px;left:700px;width:auto" ng-controller="courseSearchController">
    <input type="text" id="searchBox" name="CourseName" style="width:100px" ng-init="show=false" placeholder="CoursesName"  ng-keypress="search()" ng-blur="addCourse()" ng-model="query" ng-focus="checked=true">
    <div class="list-group" ng-show="checked" style="position:absolute;width:100px;z-index:100;">
      <a class="list-group-item" ng-repeat="course in courses | filter:query"  ng-mousedown="addCourse(course);event.stopPropagation()" >
         {{course}}
      </a>

    </div>
    <div style="position:absolute;top:40px;width:auto;z-index:1;">
      <div class="col-lg-6" style="padding-left:0px;">
        <div ng-repeat="course in selectedCourses" class="input-group input-group-sm" 
          style="padding-top:3px" ng-mouseenter="highlight(course)" ng-mouseleave="dehighlight()">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button" ng-click="deleteCourse(course)">X</button>
          </span>
           <span class="input-group-addon" style="background-color:white; color:black">{{course}}    </span>
        </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>  

</div>

	<svg id='bySemester'></svg>
	<svg id='byGrade'></svg>
<script>

angular.module('ngAnimate', [])
    .controller('courseSearchController', ['$scope', function($scope) {
        $scope.checked=false;
        $scope.selectedCourses = selectedCourses;
        $scope.search = function(){
            $scope.checked=true
        };
        var allCourses = couserWholeSet.values();
        allCourses.sort();
        $scope.courses = allCourses;

        //highlight current mouseon course
        $scope.highlight = function(course){
          courseGPAArrays.forEach(function(d){
              if (d.name == course){
                d.highlight = true;
              } else{
                d.highlight = false;
              }
          })

          $scope.updateView(courseGPAArrays,$scope.selectedCourses)
        }
        $scope.dehighlight = function(){
          courseGPAArrays.forEach(function(d){
            d.highlight = true;
          })
          $scope.updateView(courseGPAArrays,$scope.selectedCourses)
        }


        $scope.updateView = function(courseGPAArrays,selectedCourses){
          var allCourses = svg.selectAll(".course")
            .data(courseGPAArrays,function(d){return d.name})

          //This is appending new paths and stlying them for new coursing
          var newCourse = allCourses.enter().append("g");

          newCourse.attr("class", "course").append("path")
            .attr("class", "line")
            .attr("d", function(d) { return lines(d.values); })
            .style("stroke", function(d) { 
              return color(selectedCourses.indexOf(d.name)); })
            .style("stroke-width",function(d){
              return 2
            })

          newCourse.append("text")
                .attr("transform", function(d) { 
                  return "translate(" + width + "," + yy(d.values[d.values.length - 1].GPA) + ")"; })
                .attr("x", 3)
                .attr("dy", ".35em")
                .text(function(d) { return d.name; });;
          
          //This is update section to change the style of all course paths
          allCourses.style("opacity",function(d) {
              if (!d.highlight) {
               return 0.3
              } else {
                return 1
              }
            })
          allCourses.selectAll("path").style("stroke-width",function(d){
              if (!d.highlight) {
               return 1
              } else {
                return 2
              }
          })
          
          //This is exit section to remove deleted courses.
          var deletedCourse = allCourses.exit();

          deletedCourse.transition()
                    .duration(500)
                    .style("opacity","0")
                    .remove();   


        }

        //Add a course to selectedCourses and display them
        $scope.addCourse = function(course){
          if(course==undefined){
            $scope.checked=false;
            return
          }
          if (selectedCourses.indexOf(course)>-1){
            $("#searchBox").val("");
            return;
          }

          $("#searchBox").val("");
          selectedCourses.push(course);
          $scope.selectedCourses = selectedCourses;
          courseData.forEach(function(d) {
          if (selectedCourses.indexOf(d.Course)>-1){
                    dataDics.push(d)
                }
          });
          courseGPAArrays = selectedCourses.map(function(course) {
          return {
            name: course,
            values: courseData.filter(function(d) { return d.Course == course ; }).map(function(d) {
                  return {GPA: d.GPA, Year: +d.Year, };
              }),
            highlight:true
              };
          });

          $scope.updateView(courseGPAArrays,selectedCourses);
          
        }


       $scope.deleteCourse = function(course){
              selectedCourses.splice(selectedCourses.indexOf(course), 1);
              $scope.selectedCourses = selectedCourses;
              $scope.dehighlight();
              courseGPAArrays = courseGPAArrays.filter(function(d){
                return d.name != course
              })

              $scope.updateView(courseGPAArrays,selectedCourses);

          };

    }]);


//Setting margin and coordinate of the chart
var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 700 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y%m%d").parse;

//x axis's scale
var xx = d3.scale.linear()
    .range([0, width]);

//y axis's scale
var yy = d3.scale.linear()
    .range([height, 0]);


var color = d3.scale.category20();

var xAxis = d3.svg.axis()
    .scale(xx).ticks(20).tickFormat(d3.format("d"))
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(yy)
    .orient("left");

var lines = d3.svg.line()
    .interpolate("linear")
    .x(function(d) { return xx(d.Year); })
    .y(function(d) { return yy(d.GPA); });

function onlyUnique(value, index, self) { 
    return self.indexOf(value) === index;
}
 

//Global varibales 
var couserWholeSet;
var selectedCourses = ["CS 1301", "CS 1331", "CS 2340","CS 1332", "CS 2110"];
var courseGPAArrays;
var dataDics;
var courseData;

//Select a tag named gpa and use the svg handler to put stuff on it
var svg = d3.select('#gpa')
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


//Read data and draw stuff
d3.csv("output3.csv", function(error,data){
    courseData = data;
    var couserSet =d3.set();
    data.forEach(function(d) {
        d.Year = parseInt(d.Year);
        d.GPA = +d.GPA;
        couserSet.add(d.Course)
    });
    couserWholeSet = couserSet


    dataDics = [];
    
    var N = 20; 
    var indexRange = Array.apply(null, {length: N}).map(Number.call, Number)


    courseGPAArrays = selectedCourses.map(function(course) {
    return { 
      name: course,
      values: data.filter(function(d) { return d.Course == course ; }).map(function(d) {
            return {GPA: d.GPA, Year: +d.Year};
        }),
      highlight:true
        };
    });

    xx.domain(d3.extent(data, function(d) { return d.Year; }));
    yy.domain([2.0,4.0]);


    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Average GPA");

    var courseElement = svg.selectAll(".course")
      .data(courseGPAArrays, function(d){return d.name})
    .enter().append("g")
      .attr("class", "course");

    courseElement.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return lines(d.values); })
      .style("stroke", function(d) { 
        return color(selectedCourses.indexOf(d.name)%20); })
      .style("stroke-width",2);

    courseElement.append("text")
          .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
          .attr("transform", function(d) { return "translate(" + xx(d.value.Year) + "," + yy(d.value.GPA) + ")"; })
          .attr("x", 3)
          .attr("dy", ".35em")
          .text(function(d) { return d.name; });
    

    svg.selectAll("line.horizontalGrid").data(yy.ticks(5)).enter()
    .append("line")
        .attr(
        {
            "class":"horizontalGrid",
            "x1" : 0,
            "x2" : width,
            "y1" : function(d){ return yy(d);},
            "y2" : function(d){ return yy(d);},

        });

    svg.selectAll("line.VerticalGrid").data(xx.ticks(20)).enter()
    .append("line")
        .attr(
        {
            "class":"horizontalGrid",
            "y1" : 0,
            "y2" : height,
            "x1" : function(d){return xx(d);},
            "x2" : function(d){ return xx(d);},

        });

});

//Global Variables: pass in class name
//filters1 is grade breakdown
//filters2 is semester breakdown
	
var filters1 = {
    'course': 'CS1301',
	'semester': 'Fall',
    'year': '2010' };
	
var filters2 = {
	'course': 'CS1301',
	//'semester': ['Spring', 'Fall', 'Summer'],
	'year': '2009' };
	

//Create svgs to place graphs in
		
var svg1 = d3.select("#byGrade")
     .attr("width", width + margin.left + margin.right)
     .attr("height", height + margin.top + margin.bottom)
   .append("g")
     .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var svg2 = d3.select("#bySemester")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.csv("courseinfo2.csv", function(error, csv) {
  csv = csv.filter(function(row) {
          
	        return ['course','semester','year','A','B','C','D','F','W','GPA'].reduce(function(pass, column) {
	            return pass && (!filters1[column] || row[column] === filters1[column] || filters1[column].indexOf(row[column]) >= 0 );
	        }, true);
	    })
		
  var xaxis = ["A", "B", "C", "D", "F", "W"];
  
  yaxis = csv.map(function(d) {
	  return  [{ X:"A", Y:+d['A']/100, Z:+d['GPA']}, 
	  		   { X:"B", Y:+d['B']/100, Z:+d['GPA']}, 
	  		   { X:"C", Y:+d['C']/100, Z:+d['GPA']},
	  	       { X:"D", Y:+d['D']/100, Z:+d['GPA']},
	  	       { X:"F", Y:+d['F']/100, Z:+d['GPA']},
	  	 	   { X:"W", Y:+d['W']/100, Z:+d['GPA']}];
  })
  yaxis = yaxis[0];	

  var margin = {top: 40, right: 20, bottom: 30, left: 40},
      width = 500 - margin.left - margin.right,
      height = 270 - margin.top - margin.bottom;

  var formatPercent = d3.format(".0%");

  var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left")
	  .tickFormat(formatPercent);
  
  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<strong>Percentage:</strong> <span style='color:red'>" + (d.Y*100).toFixed(1) + "%" + "</span>" + "</br>" +
  	         "<strong>GPA:</strong> <span style='color:red'>" + d.Z.toFixed(2) + "</span>"; })
  
  x.domain(xaxis);
  y.domain([0 , d3.max(yaxis, function (d) {return d.Y + .15; })]);

  svg1.call(tip);

  svg1.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg1.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Percent");

  svg1.selectAll(".bar")
      .data(yaxis)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.X); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.Y); })
      .attr("height", function(d) { return height - y(d.Y); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
});

d3.csv("courseinfo2.csv", function(error, csv) {
  csv = csv.filter(function(row) {
	        return ['course','semester','year','A','B','C','D','F','W','GPA'].reduce(function(pass, column) {
	            return pass && (!filters2[column] || row[column] === filters2[column] || filters2[column].indexOf(row[column]) >= 0 );
	        }, true);
	    })
		
	var margin = {top: 40, right: 20, bottom: 30, left: 40},
	    width = 500 - margin.left - margin.right,
	    height = 270 - margin.top - margin.bottom
	
	var x = d3.scale.ordinal()
	    .rangeRoundBands([0, width], .1);

	var y = d3.scale.linear()
	    .range([height, 0]);

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left")

	var tip = d3.tip()
	  .attr('class', 'd3-tip')
	  .offset([-10, 0])
	  .html(function(d) {
	    return "<strong>GPA:</strong> <span style='color:red'>" + +d.GPA + "</span>"; })

  x.domain(csv.map(function(d) { return d.semester; }));
  y.domain([d3.min(csv, function(d) { return +d.GPA - .4; }) , d3.max(csv, function(d) { return +d.GPA + .15; })]);

  svg2.call(tip); 
  
  svg2.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg2.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("GPA");

  svg2.selectAll(".bar")
      .data(csv)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.semester); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(+d.GPA); })
      .attr("height", function(d) { return height - y(+d.GPA); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
});

</script>



</body>


