
<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>

<body ng-app="ngAnimate" ng-controller="courseSearchController">
<div class = "title"> 
  <h1> Course Buddy </h1> 
  <div class = "gauge">
    <div class = "gpa-for-gauge">
      Average GPA for Selected Course Load: <br>
      <span class = "gpa"> {{averageGPA}} </span>
    </div>
    <div id = "gauge-fill" style="width: {{gaugeWidth}}px; background-color: {{gaugeColor}}"></div>

    <div class = "gauge-text-hard">Hard</div>
    <div class = "gauge-text-easy">Easy</div>
  </div>

</div>

<div class="container-fluid">
<div class = "inside">
    <div class="row left-row">
      <!-- Main visualization on the left, displaying graph for selected courses-->
      <div class="col-md-12">
        <svg id='gpa'></svg>   
      </div>
      <div class="col-md-12 selected-courses"> 
            <div class = "col-md-12">
              <span class = "col-md-6 search-bar-text"><h4>Selected Courses</h4></span>
              <div class = "col-md-6 search-bar">
                <div class = "search-bar-2">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" id="searchBox" name="CourseName" ng-init="show=false" placeholder="Search..."  ng-keypress="search()" ng-blur="addCourse()" ng-model="query" ng-focus="checked=true">
                <div class="list-group" ng-show="checked" style="position:absolute;width:61%;height:80px;z-index:100; margin-left:15px">
                  <a class="list-group-item " ng-repeat="course in courses | filter:query"  ng-mousedown="addCourse(course);event.stopPropagation()" >
                     {{course}}
                  </a>
                </div>
              </div>
              </div>
            </div>
            <div class = "col-md-3 added-course" ng-repeat="course in selectedCourses" class="input-group input-group-sm" 
              style="padding-top:3px" ng-mouseenter="highlight(course)" ng-mouseleave="dehighlight()">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="deleteCourse(course)">X</button>
              </span>
               <span class="input-group-addon add-a-course" style="color:black; width: auto" ng-style="myColor(course)">{{course}}    </span>
            </div>
      </div>
      </div>
      <div class = "row right-row">
         <!-- Top visualization on the right, displaying breakdown of grades for selected course-->
        <div class="col-md-12 chart2data">
          <svg id='bySemester' "width"=570 "height"=380 > </svg>
        </div>
        <!-- Bottom visualization on the right, displaying semester breakdown for selected course -->
        <div class="col-md-12 chart1data">
          <svg id='byGrade'> </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
var deleteCount = 0, addCount = 5;
var colorsUsed = [0,1,2,3,4];
var colorsNotUsed = [5,6,7];
var courseColor = "CS 1301";

var cachedCallbacks
function registerCallback(callback){
    cachedCallbacks = callback;
};
function updateModel(newFilter1, newFilter2){
    cachedCallbacks(newFilter1,newFilter2);
};

angular.module('ngAnimate', [])
    .controller('courseSearchController', ['$scope', function($scope) {
      //**************************************
        //TODO: calculate averageGPA for real
      //**************************************
        $scope.averageGPA = 3.1
        $scope.gaugeWidth = $scope.averageGPA * 100;

        
        $scope.calculateAverageGPAForAllCourse = function(){
          var tempSum=0;
          courseGPAArrays.forEach(function(d){
            tempSum += +d.values[d.values.length-1].GPA
          })
          $scope.averageGPA = (tempSum/courseGPAArrays.length).toFixed(2);
          //console.log($scope.averageGPA)
          $scope.gaugeWidth = $scope.averageGPA * 100;
          if ($scope.gaugeWidth <= 100) {
            $scope.gaugeColor = "#F7977A";
          }
          if ($scope.gaugeWidth <= 200 && $scope.gaugeWidth > 100) {
            $scope.gaugeColor = "#FDC68A";
          }
          if ($scope.gaugeWidth <= 300 && $scope.gaugeWidth > 200) {
            $scope.gaugeColor = "#FFF79A";
          }
          if ($scope.gaugeWidth <= 400 && $scope.gaugeWidth > 300) {
            $scope.gaugeColor = "#82CA9D";
          }
        }
        $scope.calculateAverageGPAForAllCourse();


        
        $scope.checked=false;
        $scope.selectedCourses = selectedCourses;

        registerCallback(function(newFilter1,newFilter2){
          $scope.chart1Data = newFilter1;
          $scope.chart2Data = newFilter2;
          $scope.$apply() 
        })

        $scope.search = function(){
            $scope.checked=true
        };
        var allCourses = couserWholeSet.values();
        allCourses.sort();
        $scope.courses = allCourses;
        $scope.myColor = function(course){
          return {'background-color':color[colorsUsed[selectedCourses.indexOf(course)]]};
        }
        
        //highlight current mouseon course
        $scope.highlight = function(course){
          courseGPAArrays.forEach(function(d){
              if (d.name == course){
                d.highlight = true;
              } else{
                d.highlight = false;
              }
          })
          $scope.updateView(courseGPAArrays,$scope.selectedCourses)
        }

        $scope.dehighlight = function(){
          courseGPAArrays.forEach(function(d){
            d.highlight = true;
          })
          $scope.updateView(courseGPAArrays,$scope.selectedCourses)
        }
        $scope.chart1Data = filters1;
        $scope.chart2Data = filters2;

        $scope.selectSemester = function(semester){
          filters1.semester = semester;
          $scope.chart1Data = filters1;
          svg1.remove('g');
          svg1 = d3.select("#byGrade").append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
          drawFirst();
        }

        

        $scope.updateView = function(courseGPAArrays,selectedCourses){
          var allCourses = svg.selectAll(".course")
            .data(courseGPAArrays,function(d){return d.name})

          //This is update section to change the style of all course paths
          allCourses.style("opacity",function(d) {
              if (!d.highlight) {
               return 0.3
              } else {
                return 1
              }
            })
          allCourses.selectAll("path").style("stroke-width",function(d){
              if (!d.highlight) {
               return 1
              } else {
                return 2
              }
          })
          
           


        }

        //Add a course to selectedCourses and display them
        $scope.addCourse = function(course){
          if(course==undefined){
            $scope.checked=false;
            return
          }
          if (selectedCourses.indexOf(course)>-1){
            $("#searchBox").val("");
            return;
          }
		  
    		  if ((addCount - deleteCount) > 7) {
    			window.alert("The maximum number of classes is 8");
    			return;
    		  }
    		  addCount += 1;
              $("#searchBox").val("");
              selectedCourses.push(course);
              $scope.selectedCourses = selectedCourses;
              courseData.forEach(function(d) {
              if (selectedCourses.indexOf(d.Course)>-1){
                        dataDics.push(d)
                    }
              });
              courseGPAArrays = selectedCourses.map(function(course) {
              return {
                name: course,
                values: courseData.filter(function(d) { return d.Course == course ; }).map(function(d) {
                      return {GPA: d.GPA, Year: +d.Year, };
                  }),
                highlight:true
                  };
              });
              
            var allCourses = svg.selectAll(".course")
            .data(courseGPAArrays,function(d){return d.name})

            //This is appending new paths and stlying them for new coursing
            var newCourse = allCourses.enter().append("g");

            newCourse.attr("class", "course").append("path")
              .attr("class", "line")
              .attr("d", function(d) { return lines(d.values); })
              .style("stroke", function(d) { 
              colorsUsed[colorsUsed.length] = colorsNotUsed[0]
                colorsNotUsed.splice(0,1);
                  return color[colorsUsed[colorsUsed.length-1]];
               })
              .style("stroke-width",function(d){
                return 2
              })

            newCourse.append("text")
                .attr("transform", function(d) { 
                  return "translate(" + width + "," + yy(d.values[d.values.length - 1].GPA) + ")"; })
                .attr("x", 3)
                .attr("dy", ".35em")
                .text(function(d) { return d.name; });;
            
            var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function(d) {
              return "<div class='tip'><strong>Course:</strong> <span style='color:#FAEBD7'>" + d.Course + "</span></div>"+
              "<div class='tip'><strong>GPA:</strong> <span style='color:#FAEBD7'>" + +d.GPA + "</span></div>"+
              "<div class='tip'> <strong>Year:</strong> <span style='color:#FAEBD7'>" + +d.Year + "</span></div>"
              "";})

              var circlesElement = newCourse.selectAll(".circles")
              .data(function(d, i) { 
              var vs =  d.values.map(function(dd){
                return {
                  "Year": dd.Year,
                  "GPA": dd.GPA,
                  "Course": d.name
                }
              })
              return vs;
              })
              .enter()
              .append("circle")
              .attr("cx",function(d){ return xx(d.Year)})
              .attr("cy", function(d){ return yy(d.GPA)})
              .attr("r",10)
              .attr("class","circles")
              .on("click",function(d){ showDetails(d.Course,d.Year.toString()) })
              .on('mouseout', tip.hide)
              .on('mouseover', tip.show)
              .call(tip)
              $scope.calculateAverageGPAForAllCourse();
          }

       $scope.deleteCourse = function(course){
  		   if ((addCount-deleteCount) > 1) {
  	  		  colorsNotUsed[colorsNotUsed.length] = colorsUsed[selectedCourses.indexOf(course)]
       	      colorsUsed.splice(selectedCourses.indexOf(course),1);
                selectedCourses.splice(selectedCourses.indexOf(course), 1);
                $scope.selectedCourses = selectedCourses;
                $scope.dehighlight();
                courseGPAArrays = courseGPAArrays.filter(function(d){
                  return d.name != course
                })
                var allCourses = svg.selectAll(".course")
                  .data(courseGPAArrays,function(d){return d.name});
                //This is exit section to remove deleted courses.
                var deletedCourse = allCourses.exit();

                deletedCourse.transition()
                          .duration(500)
                          .style("opacity","0")
                          .remove();  
  			  deleteCount += 1;
    		  } else {
    		  	 window.alert("At least 1 class must be added");
    		  }
          $scope.calculateAverageGPAForAllCourse();
        };

    }]);

function showDetails(course,year){
      courseColor = course;
      var t =courseinfoEachSemester.filter(function(d){
        return d.course == course;
      });
      if (t.length>0){
        // console.log(t.length)
        // console.log(t)
        filters1.course = course;
        filters2.course = course;
        filters1.year = year;
        filters2.year = year;
        filters1.semester = "Spring";
        var sm = d3.set();
        t.forEach(function(d){
          // console.log(d)
          sm.add(d.semester)});
        filters2.semester = sm.values();
        // console.log(sm.values());
        svg1.remove('g');
        svg1 = d3.select("#byGrade").append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        drawFirst();
        svg2.remove('g');
        svg2 = d3.select("#bySemester").append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        drawSecond();
        updateModel(filters1,filters2);
        // $scope.chart1Data = filters1;
        // $scope.chart2Data = filters2;
      }
}


//Setting margin and coordinate of the chart
var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 570 - margin.left - margin.right,
    height = 380 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y%m%d").parse;

//x axis's scale
var xx = d3.scale.linear()
    .range([0, width]);

//y axis's scale
var yy = d3.scale.linear()
    .range([height, 0]);


// var color = ["#a6cee3","#1f78b4","#b2df8a","#33a02c","#fb9a99","#e31a1c","#fdbf6f","#ff7f00","#cab2d6","#6a3d9a"];
var color = ["#99CCCC","#EB6F7A","#A184A2","#F6906A","#78502D","#FEE080","#4876ff","#D0CE81"];

var xAxis = d3.svg.axis()
    .scale(xx).ticks(20).tickFormat(d3.format("d"))
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(yy)
    .orient("left");

var lines = d3.svg.line()
    .interpolate("linear")
    .x(function(d) { return xx(d.Year); })
    .y(function(d) { return yy(d.GPA); });


function onlyUnique(value, index, self) { 
    return self.indexOf(value) === index;
}
 

//Global varibales 
var couserWholeSet;
var selectedCourses = ["CS 1301", "CS 1331", "CS 2340","CS 1332", "CS 2110"];
var courseGPAArrays;
var dataDics;
var courseData;
var compeleteCourseData;

//Select a tag named gpa and use the svg handler to put stuff on it
var svg = d3.select('#gpa')
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


//Read data and draw stuff
d3.csv("output7.csv", function(error,data){
    // console.log(data)
    courseData = data;
    var couserSet =d3.set();
    data.forEach(function(d) {
        d.Year = parseInt(d.Year);
        d.GPA = +d.GPA;
        couserSet.add(d.Course)
    });
    couserWholeSet = couserSet


    dataDics = [];
    
    var N = 20; 
    var indexRange = Array.apply(null, {length: N}).map(Number.call, Number)
    // console.log(indexRange)
    
    // color.domain(indexRange);

    courseGPAArrays = selectedCourses.map(function(course) {
      // console.log(course);
    return { 
      name: course,
      values: data.filter(function(d) { return d.Course == course ; }).map(function(d) {
            return {GPA: d.GPA, Year: +d.Year};
        }),
      highlight:true
        };
    });

    xx.domain(d3.extent(data, function(d) { return d.Year; }));
    yy.domain([2.0,4.0]);


    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Average GPA");

    svg.append("g")
      .append("text")
      .attr("x", 60)
      .attr("class", "h4")
      .attr("text-align", "center")
      .text("Average GPA Over Time For Selected Courses");



    var courseElement = svg.selectAll(".course")
      .data(courseGPAArrays, function(d){return d.name});

    courseElement.enter().append("g")
      .attr("class", "course");

    courseElement.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return lines(d.values); })
      .style("stroke", function(d) { 
		  return color[selectedCourses.indexOf(d.name)%20]; })
      .style("stroke-width",2);

    var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<div class='tip'><strong>Course:</strong> <span style='color:#FAEBD7'>" + d.Course + "</span></div>"+
      "<div class='tip'><strong>GPA:</strong> <span style='color:#FAEBD7'>" + +d.GPA + "</span></div>"+
      "<div class='tip'> <strong>Year:</strong> <span style='color:#FAEBD7'>" + +d.Year + "</span></div>"
      ""; })

    var circlesElement = courseElement.selectAll(".circles")
        .data(function(d, i) { 
          var vs =  d.values.map(function(dd){
            return {
              "Year": dd.Year,
              "GPA": dd.GPA,
              "Course": d.name
            }
          })
          return vs;
          })
        .enter()
        .append("circle")
        .attr("cx",function(d){ return xx(d.Year)})
        .attr("cy", function(d){ return yy(d.GPA)})
        .attr("r",10)
        .attr("class","circles")
        .on("click",function(d){ showDetails(d.Course,d.Year.toString()) })
        .on('mouseout', tip.hide)
        .on('mouseover', tip.show)
        .call(tip)
    

    courseElement.append("text")
          .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
          .attr("transform", function(d) { return "translate(" + xx(d.value.Year) + "," + yy(d.value.GPA) + ")"; })
          .attr("x", 3)
          .attr("dy", ".35em")
          .text(function(d) { return d.name; });
    

    svg.selectAll("line.horizontalGrid").data(yy.ticks(5)).enter()
    .append("line")
        .attr(
        {
            "class":"horizontalGrid",
            "x1" : 0,
            "x2" : width,
            "y1" : function(d){ return yy(d);},
            "y2" : function(d){ return yy(d);},

        });

    svg.selectAll("line.VerticalGrid").data(xx.ticks(20)).enter()
    .append("line")
        .attr(
        {
            "class":"horizontalGrid",
            "y1" : 0,
            "y2" : height,
            "x1" : function(d){return xx(d);},
            "x2" : function(d){ return xx(d);},

        });

});

//Global Variables: pass in class name
//filters1 is grade breakdown
//filters2 is semester breakdown
  
var filters1 = {
    'course': 'CS 1301',
  'semester': 'Spring',
    'year': '2009' };
  
var filters2 = {
  'course': 'CS 1301',
  //'semester': ['Spring', 'Fall', 'Summer'],
  'year': '2009' };
  
//Create svgs to place graphs in
    
var svg1 = d3.select("#byGrade")
     .attr("width", width + margin.left + margin.right)
     .attr("height", height + margin.top + margin.bottom)
   .append("g")
     .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var svg2 = d3.select("#bySemester")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");





var courseinfoEachSemester;
d3.csv("output6.csv", function(error, csv) {
  courseinfoEachSemester = csv;
  drawFirst();
  drawSecond();
});

function drawFirst() {
  var xaxis = ["A", "B", "C", "D", "F", "W"];
  csv = courseinfoEachSemester.filter(function(row) {
          
          return ['course','semester','year','A','B','C','D','F','W','GPA'].reduce(function(pass, column) {
              return pass && (!filters1[column] || row[column] === filters1[column] || filters1[column].indexOf(row[column]) >= 0 );
          }, true);
      })
  yaxis = csv.map(function(d) {
    return  [{ X:"A", Y:+d['A']/100, Z:+d['GPA']}, 
           { X:"B", Y:+d['B']/100, Z:+d['GPA']}, 
           { X:"C", Y:+d['C']/100, Z:+d['GPA']},
             { X:"D", Y:+d['D']/100, Z:+d['GPA']},
             { X:"F", Y:+d['F']/100, Z:+d['GPA']},
           { X:"W", Y:+d['W']/100, Z:+d['GPA']}];
  })
  yaxis = yaxis[0]; 

  var margin = {top: 0, right: 0, bottom: 0, left: 0},
      width = 400 - margin.left - margin.right,
      height = 200 - margin.top - margin.bottom;

  var formatPercent = d3.format(".0%");

  var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left")
    .tickFormat(formatPercent);
  
  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<strong>Percentage:</strong> <span style='color:#FAEBD7'>" + (d.Y*100).toFixed(1) + "%" + "</span>" + "</br>" +
             "<strong>GPA:</strong> <span style='color:#FAEBD7'>" + d.Z.toFixed(2) + "</span>"; })
  
  x.domain(xaxis);
  y.domain([0 , 1]);//d3.max(yaxis, function (d) {return d.Y + .15; })]);

  svg1.call(tip);

  svg1.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg1.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Percent");
	  
  svg1.append("g")
	  .append("text")
	  .attr("x", 40)
    .attr("class", "h4")
    .attr("text-align", "center")
	  .text(filters1.course + " Letter Grade Breakdown for " + filters1.semester + " " + filters1.year);

  svg1.selectAll(".bar")
      .data(yaxis)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.X); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.Y); })
      .attr("height", function(d) { return height - y(d.Y); })
	  .attr("fill", function(d){ 
		  return color[colorsUsed[selectedCourses.indexOf(courseColor)]]; })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
};






function drawSecond(){
   csv = courseinfoEachSemester.filter(function(row) {
          return ['course','semester','year','A','B','C','D','F','W','GPA'].reduce(function(pass, column) {
              return pass && (!filters2[column] || row[column] === filters2[column] || filters2[column].indexOf(row[column]) >= 0 );
          }, true);
      })
    
  var margin = {top: 40, right: 0, bottom: 30, left: 0},
      width = 400 - margin.left - margin.right,
      height = 250 - margin.top - margin.bottom
  
  var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left")

  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<strong>GPA:</strong> <span style='color:#FAEBD7'>" + +d.GPA + "</span>"; })

  x.domain(["Spring", "Summer", "Fall"]); 
  y.domain([0,4]);

  svg2.call(tip); 
  
  svg2.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg2.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("GPA");
	  
  svg2.append("g")
	  .append("text")
	  .attr("x", 60)
    .attr("class", "h4")
    .attr("text-align", "center")
	  .text(filters1.course + " Semester Breakdown for " + filters1.year);

  svg2.selectAll(".bar")
      .data(csv)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.semester); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(+d.GPA); })
      .attr("height", function(d) { return height - y(+d.GPA); })
	  .attr("fill", function(d){ 
		  return color[colorsUsed[selectedCourses.indexOf(courseColor)]]; })
	  .attr("fill-opacity", function(d) {
	      if (d.semester == filters1.semester) {
			  return 1;
	      } else {
			  return .4;
	      }
	  })
	  .on("click",function(d){ 
		  tip.hide();
		  return refreshDetail(d.semester); })
      .on('mouseout', tip.hide)
	  .on('mouseover', tip.show);
};

function refreshDetail(semester){
  filters1.semester = semester;
  svg1.remove('g');
  svg1 = d3.select("#byGrade").append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  drawFirst();
  svg2.remove('g');
  svg2 = d3.select("#bySemester").append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  drawSecond();
};


function selectSemester(course){
  console.log(course);
};

</script>

</body>
