body {
  font: 10px;
  padding: 20px;
  background-color: #99CCCC !important;
}

.container-fluid {
  background-color: #99CCCC !important;
  padding-left: 30px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;

}

.row {
  width: 50%;
}

.right-row {
  float:right;
  margin-top: -490px;
}

.selected-courses {
  margin: 0px 40px;
  min-height: 106px;
}

.search-bar {
  margin-top: 5px;
  float: right;
}

.search-bar-2 {
   float: right;
}

.inside {
  margin-top: 60px;
  background-color: #FAEBD7;
  position: relative;
  height: 570px;
  overflow: hidden;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  margin: -1px 10px;
}

.search-bar-text {

}

.title {
  background-color: #99CCCC;
  margin-left: 10px;
  margin-top: -25px;
  padding: 5px;
  position:fixed;
  width: 100%;
  height: 90px;
  z-index: 1;

}

.gauge {
    width: 400px;
    height: 50px;
    background-color: #fff;
    z-index: 2;
    margin-right: 60px;
    margin-top: -60px;
    float:right;
}

.gauge-text-hard {
  color: black;
  font-weight: bold;
}
.gauge-text-easy {
  float:right;
  margin-top: -20px;
  color: black;
  font-weight: bold;
}

#gauge-fill {
/*  width: ;
*/  height: 50px;
  position: relative;
  margin-top: -69px;
}

.gpa-for-gauge {
  width: 150px;
  position: relative;
  text-wrap: normal;
  margin-left: -150px;
  font-size: 9pt;
  text-align: center;
}

.gpa {
  font-weight: bold;
  font-size: 18pt;
}

.add-a-course:hover {
  cursor: pointer;
  a:hover {
    cursor:pointer;
  }
}

.chart-header {
  margin-top:20px;
  text-align: center;
}

#bySemester {
  margin-left:50px;
}

#byGrade { 
  margin-left:50px;
  margin-top: 20px;
  overflow: visible;
}

#gpa {
  margin-left: 40px;
  margin-top: 10px;
  overflow: visible;
}

.chart1data {
  margin-top: -150px;
}

.chart2data {
 /* margin-top: -30px;*/
}

.list-group-item {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}
.list-group {
max-width: 400px;
height: auto;
max-height: 258px;
overflow-x: hidden;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.horizontalGrid  {
    stroke: lightgrey;
    opacity: 0.3;
    z-index: -1;
}
.VerticalGrid  {
    stroke: lightgrey;
    opacity: 0.3;
    z-index: -1;
}

.animate-if {
background:white;
border:1px solid black;
padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
opacity:1;
}

/*.bar {
  fill: #94D5D9;
}
*/
.bar:hover {
  fill: grey;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: grey;
  color: #FAEBD7;
  border-radius: 2px;
  text-align: center;
  z-index:1000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: grey;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.circles{
  opacity: 0.2;
  z-index:1000;
  cursor: pointer;
}
.circles:hover {
  opacity: 0.5;
  z-index:1000;
  cursor: pointer;
}